<!DOCTYPE html>

<!--

**** This website is created by Tangella Lokesh 
**** It can be used to give feedback about a person anonymously.

-->

<html lang='en'>

	<head>   <title>HOME|JUJME </title>
	</head>


	<body style="text-align:center">

		<header><h1><b sytle="font-size:170%"> Want to know what people think of you !!</b></h1>
		
		 <header>


		<main> <p><h2> <b sytle="font-size:300%">Then, what are you waiting for?</b></h2> <br> 
					<i style="font-size:130%"> <a href = "/Login_page">Register Here </a></i></p>
			<p></p>
			<p></p>
			<p></p>
				</p> <hr>
				 <b style="font-size:140%" > YAYY!! </b> <br>
					 Already got an account? <br>
				 Then<b style="font-size:120%"> <i> Login </i></b> below to know what people <i> Scribbled </i> about you.
				<form action = "/loginsuccess" method ="post">

					<input name="email" type = "email" placeholder = "Enter your E-mail Id">
					<input name = "password" type = "password" placeholder = "Password">
					<input type = "submit" value = "Login">
	
				</form>
	        </main>

		<footer> <p><strong> Copyright</strong> <br>
	       		 <strong> ©</strong> Lokesh_Tangella </p>   </footer>
	</body>
</html>
