<!DOCTYPE html>


<html lang = 'en'>


	<head>    <title> REGISTER|JUJME </title>
	</head>


	<body style="text-align:center">
		<header>
			<h1> Just a step away to start!!<h1>				
			<h2> Enter your details below<h2>
		</header>
		
		<main>
			<form action="/successregistration" method ="post" >

					<input name = "name" placeholder="Enter your Name"  type="text">
					<input name="email_id" placeholder = "Enter your mail id" type="email" > <br>
						<br>
				
					DoB: <input name="dob" placeholder="Enter DOB" type="date">	<br>
				 	<br>
					<input name="password" placeholder="Set a password" type= "password">
					<input name="repassword" placeholder="re-enter your password" type= "password"><br>
						<br>
					<input type = "submit" value = "Register">
			</form>
		</main>


		<footer>
 			<p><strong> Copyright</strong> <br>

		         <strong> ©</strong> Lokesh_Tangella </p>
		</footer>
	</body>

</html>

