<!DOCTYPE html>


<html lang = 'en'>


<head>  <title> Scribbling|JUJME </title> </head>

<body style="text-align:center"> 
	<header>  <h1> You are scribbling for<i> {{name}} </i> Anonymously<h1></header>
 

	<main> 
	
		<form action = "/scribbled" method = "post">
		<input type = "text" name= "opinion" placeholder = "Scribble here" style = "height:200px; width:600px">
		<br> <br>
		<input type = "submit" value ="Done scribbling">
		</form>		
        </main>


	<footer>        </footer>
</body>

<html>
